/* Navbar background color */
.navbar {
   /* Light shade of white */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 8px 0; /* Reduce top and bottom padding */
  font-family: "Open Sans", sans-serif;
  font-weight:bold;
  
}


/* Navbar brand logo */
.navbar-brand img {
  width: 120px; /* Reduce logo width to reduce navbar height */
}

/* Navbar link styling */
.navbar-nav .nav-link {
  color: #333;/* Darker text color for contrast */
  font-weight: bold;
  font-size: medium;
  letter-spacing: 1px;
  padding: 4px 10px; /* Reduce padding to minimize height */
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
 cursor: pointer;
}

/* Hover effect for links */
.navbar-nav .nav-link:hover {
   color: black;
    border-radius: 50px;
   /* Light gray background on hover */
  transform: translateY(-2px); /* Slightly reduced transform */
}

/* Active link styling */
.navbar-nav .active {
  font-weight: 700;
 background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
  color: white !important;
   
  border-radius: 50px;
  padding: 4px 12px; /* Match padding reduction */
}

/* Navbar toggle button (burger icon) */
.navbar-toggler-icon {
  background-color: #d1d1d1; /* Light gray burger icon */
}

/* Adjustments for mobile */
@media (max-width: 767px) {
  .navbar-nav .nav-link {
    font-size: 14px;
    padding: 4px 10px; /* Further reduce padding on mobile */
  }

  .navbar-nav .nav-item {
    margin: 4px 0;
  }
  .navbar-collapse {
    max-width: 250px; /* Adjust as needed */
    margin-left: auto; /* Push to the right side */
  }
  .navbar-nav {
    text-align: center;
    width: 100%;
  }
}


