/* In your CSS file */
/* In your CSS file */
@media (max-width: 768px) {
  .card-title {
    font-size: 1rem; /* Reduce font size for mobile */
  }

  .card-text {
    font-size: 0.875rem; /* Reduce font size for mobile */
  }
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #440fb6;
    --bs-btn-border-color: #490ccc;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1411c3;
    --bs-btn-hover-border-color: #3b0a99;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3b0a99;
    --bs-btn-active-border-color: #6f87ab;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #490ccc;
    --bs-btn-disabled-border-color: #490ccc;
}

